<% include partials/boilerplate %>

<% include partials/nav %>
  <div id="container" class="active">
    <div id="list" class="active">
      <div id="list-contents" class="active">

      </div>
    </div>
    <div id="map" class="active"></div>
  </div>
  <% include partials/end %>
